# 目标
在当前目录创建一个个人博客系统。 


# 展示端页面描述
- 主要页面： 主页，  主题页，主题详情页，  博客分页列表页 ， 博客内容页详情页。 
- 主题页： 按大类展示主题， 一个主题可能归属在多个大类下。 点击主题进入主题详情页
- 主题详情页： 左侧展示主题下博客列表，列表可以嵌套， 中间展示选中的博客内容， 后侧显示博客内容目录
- 博客分页列表页： 倒序分页展示博客列表，点击进入博客内容页详情页
- 博客内容页详情页： 左侧展示所属的主题，点击可以进入主题详情页， 中间展示选中的博客内容， 后侧显示博客内容目录
- 主页： 根据系统内容合理设计主页

# 管理端

- 请根据展示端页面描述设计合理的管理端页面， 
- 文章编辑支持markdown语法


# 限制
- 采用Next.js 14 的app router模式。 
- 博客分为管理端和展示端
- 管理端采用antd简化开发，不需要适配手机浏览器，需要简单的鉴权
- 展示端需要SEO 优化，同时适配手机浏览器
- 在同一目录下组织页面和组件
- 客户端每个页面使用独立的zustand实例管理页面状态，简单页面可以不使用zustand
- 请选择适合的版本的推荐依赖：@headlessui/react @heroicons/react  zustand  @tanstack/react-query react-hook-form zod @hookform/resolvers  clsx class-variance-authority date-fns antd prisma  
- 数据库采用prisma结合mysql， 主键采用ulid
- 管理端通过server action 处理请求， 展示端通过api 处理请求
- 代码基于windows上的cursor开发
- 从page页面拆分出的组件， 请放在与page目录同级的_components目录下
# 请慢慢思考，设计合理的流程或步骤一步一步完成整个系统。